{% extends 'base.html' %}
{% block bstart %}
  



   <!-- form start -->
   <div class="container">
   <form action="/" method="POST">
     <div class="mb-3">
       <label for="title" class="form-label">Title</label>
       <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
     </div>
     <div class="mb-3">
       <label for="desc" class="form-label">Description</label>
       <input type="text" class="form-control" name="desc" id="desc">
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
 </div>
   <!-- form ended -->

   <!-- table started -->
   <div class="container">
     <table class="table">
         <thead>
           <tr>
             <th scope="col">sno</th>
             <th scope="col">Title</th>
             <th scope="col">Desc</th>
             <th scope="col">Time</th>
             <th scope="col">Operation</th>
           </tr>
         </thead>
         <tbody>
           {% for todo in alltodo %}
           <tr>
             <th scope="row">{{loop.index}}</th>
             <td>{{todo.title}}</td>
             <td>{{todo.desc}}</td>
             <td>{{todo.time}}</td>
             <td>
               <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-secondary" onclick="getSno(todo.sno)">Update</button></a>
               <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-secondary">Delete</button></a>
             </td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
   </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock bstart %}